body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
    box-sizing: border-box;
}

.green-background {
    display: flex;
    background-color: green;
    width: 20%;
    align-items: center;
    justify-content: center;
}

.yellow-background {
    background-color: yellow;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pink-background {
    background-color: fuchsia;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue-background {
    background-color: blue;
    width: 50vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.red-background {
    background-color: red;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lightgreen-background {
    background-color: lightgreen;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.purple-background {
    background-color: purple;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#top-container{
    display: flex;
    height: 5vh;
}

#middle-container{
    height: 35vh;
    display: flex;
    justify-content: space-between;
}
#vertical-middle-container{
    display: flex;
    flex-direction: column;
    width: 30vw;
}
#image{
    height: 50%;
}
#extra{
    height: 50%;
}