*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-color: chocolate;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 0 10px;
}

footer{
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

#grade-de-videos{
    flex-grow: 1;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 5px;
    column-gap: 5px;
}

.link-video{
    padding: 10px;
    border: 1px solid lightgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 5px lightgrey;
}

.link-video:hover{
    background-color:rgb(197, 246, 197);
}

.imagem-inicial{
    width: 100%;
    padding-bottom: 10px;
}

.pagina-detalhe{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.reprodutor-video{
    align-self: center;
    flex-grow: 1;
    padding-top: 10vh;
}
.reprodutor-video h3{
    padding: 10px 0;
    text-align: center;
}
video{
    max-width: 80vw;
    max-height: 60vh;
}